{% extends "layout.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
<div class="text-center">
  <h1 class="mt-5">Bienvenido a la encuesta final</h1>
  {% if current_user.id %}
  <p class="lead text-muted">Selecciona el Dashboard para ver mas informacion.</p>
  {% else %}
  <p class="lead text-body-secondary">Por favor, registrate o inicia sesion.</p>
  {% endif %}
</div>
<div class="d-flex justify-content-center mt-4">
    <a href="{{ url_for('main.preguntas') }}">
        <button style="background-color: #145A32; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">
            Ir a Preguntas
        </button>
    </a>
</div>
{% endblock %}
